@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  min-height: 100vh;
  background-color: #e0f1e8; }

body,
.form__input {
  font-family: "Karla", sans-serif;
  color: #2a4144; }

.heading {
  font-size: 3.2rem;
  line-height: 1;
  letter-spacing: -0.1rem; }

.paragraph {
  line-height: 1.5; }
  .paragraph__md {
    font-size: 1.8rem; }
    .paragraph__md--bold {
      font-weight: 700; }
    .paragraph__md--regular {
      font-weight: 400; }
  .paragraph__sm {
    font-size: 1.6rem; }

.form {
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  margin-top: 3.2rem;
  padding: 2.4rem;
  background-color: #fff;
  width: calc(min(91.467%, 73.6rem));
  border-radius: 1.6rem;
  display: grid;
  gap: 2.4rem; }
  .form__label {
    color: #2a4144; }
  .form__label::after {
    content: "*";
    display: inline;
    font-size: inherit;
    position: relative;
    left: 0.8rem;
    color: #0c7d69; }
  .form__input {
    padding: 1.2rem 2.4rem;
    border-radius: 0.8rem;
    border: 1px solid #86a2a5; }
  .form__names {
    display: flex;
    flex-direction: column;
    display: grid;
    gap: 2.4rem; }
    .form__names--box {
      display: grid;
      gap: 0.8rem; }
  .form__email {
    display: grid;
    gap: 0.8rem; }
  .form__queries {
    display: grid;
    gap: 0.8rem; }
    .form__queries--container {
      display: flex;
      flex-direction: column;
      gap: 1.6rem; }
    .form__queries--box {
      padding: 1.2rem 2.4rem;
      border-radius: 0.8rem;
      border: 1px solid #86a2a5;
      display: flex;
      align-items: center;
      gap: 1.2rem; }
    .form__queries--radio {
      appearance: none;
      background-color: #fff;
      margin: 0;
      font: inherit;
      color: currentColor;
      width: 2rem;
      height: 2rem;
      border: 1px solid #86a2a5;
      border-radius: 50%;
      display: grid;
      place-content: center; }
      .form__queries--radio::before {
        content: "";
        display: inline;
        width: 1.3rem;
        height: 1.3rem;
        background: #86a2a5;
        border-radius: 50%;
        transform: scale(0);
        transition: all 0.2s; }
      .form__queries--radio:checked::before {
        transform: scale(1); }

.success {
  left: 50%;
  transform: translateX(-50%);
  width: calc(min(87.2%, 45rem));
  position: absolute;
  top: 2.4rem;
  padding: 2.4rem;
  background-color: #0c7d69;
  color: #fff;
  border-radius: 1.2rem;
  display: grid;
  gap: 0.8rem;
  display: none; }
  .success__heading {
    display: flex;
    align-items: center;
    gap: 0.8rem; }
