@mixin centerHorizontal {
  left: 50%;
  transform: translateX(-50%);
}

@mixin gridColumnSpacing-1 {
  display: grid;
  gap: $spacing-1;
}

@mixin inputStyling {
  padding: $spacing-2 $spacing-4;
  border-radius: $spacing-1;
  border: 1px solid $grey-light;
}

@mixin resetCheckboxRadio {
  appearance: none;
  background-color: $white;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 2rem;
  height: 2rem;
  border: 0.2rem solid $grey-light;
}
