.form {
  @include centerHorizontal;
  position: relative;
  margin-top: $spacing-5;
  padding: 2.4rem;
  background-color: $white;
  width: calc(min(91.467%, 73.6rem));
  border-radius: 1.6rem;
  display: grid;
  gap: $spacing-4;

  &__label {
    color: $grey-dark;
  }

  &__label::after {
    content: "*";
    display: inline;
    font-size: inherit;
    position: relative;
    left: $spacing-1;
    color: $green-dark;
  }

  &__input {
    @include inputStyling;
  }

  &__names {
    display: flex;
    flex-direction: column;
    display: grid;
    gap: $spacing-4;

    &--box {
      @include flexColumnSpacing-1;
    }
  }

  &__email {
    @include flexColumnSpacing-1;
  }

  &__queries {
    @include flexColumnSpacing-1;

    &--container {
      display: flex;
      flex-direction: column;
      gap: $spacing-3;
    }

    &--box {
      @include inputStyling;
      display: flex;
      align-items: center;
      gap: $spacing-2;
    }

    &--radio {
      appearance: none;
      background-color: $white;
      margin: 0;
      font: inherit;
      color: currentColor;
      width: 2rem;
      height: 2rem;
      border: 1px solid $grey-light;
      border-radius: 50%;
      display: grid;
      place-content: center;

      &::before {
        content: "";
        display: inline;
        width: 1.3rem;
        height: 1.3rem;
        background: $grey-light;
        border-radius: 50%;
        opacity: 0;
        transition: all 0.2s;
      }

      &:checked::before {
        opacity: 1;
      }
    }
  }

  &__message {
    @include flexColumnSpacing-1;

    &--textarea {
      @include inputStyling;
      height: 21.6rem;
    }
  }
}
