.success {
  @include centerHorizontal;

  width: calc(min(87.2%, 45rem));
  position: absolute;
  top: $spacing-4;
  padding: $spacing-4;
  background-color: $green-dark;
  color: $white;
  border-radius: $spacing-2;
  display: grid;
  gap: $spacing-1;
  display: none; //MUST CHANGE AT THE END AND ADD A Z-INDEX

  &__heading {
    display: flex;
    align-items: center;
    gap: $spacing-1;
  }
}
