.success {
  width: calc(min(87.2%, 45rem));
  position: absolute;
  top: 2.4rem;
  left: 50%;
  transform: translate(-50%);
  padding: 2.4rem;
  background-color: $green-dark;
  color: $white;
  border-radius: 1.2rem;
  display: grid;
  gap: $spacing-1;

  &__heading {
    display: flex;
    align-items: center;
    gap: $spacing-1;
  }
}
