@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

body,
.form__input {
  font-family: "Karla", sans-serif;
  color: $grey-dark;
}

.heading {
  font-size: 3.2rem;
  line-height: 1;
  letter-spacing: -0.1rem;
}

.paragraph {
  &__md--bold {
    line-height: 1.5;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1px;
  }

  &__md--regular {
    line-height: 1.5;

    font-size: 1.8rem;
    font-weight: 400;
  }

  &__sm {
    font-size: 1.6rem;
    line-height: 1.5;
  }
}
